.container
  .train
    gears(speed='speed')
    speedometer(speed='speed')
    slider(speed='speed', on-speed-change="onChange(speed)", interval='interval')
    keyboard(on-speed-change="onChange(amount)", accelerate='keys.accelerate', decelerate='keys.decelerate', brake='keys.brake', interval='interval')

footer
  .container
    :markdown
      Train by [Jonathan Porta](http://jonathanporta.com)
