.navbar.navbar-inverse(role="navigation")
  .container
    .navbar-header
      a.navbar-brand Train
.container
  form
    label Speed
      input(type='number', ng-model='speed',ng-change="onChange()", min=-10, max=10, step=1)
footer
  .container
    :markdown
      Train by [Jonathan Porta](http://jonathanporta.com)
